<style>
    .footer-icon{
        font-size: 1.5rem !important;
        padding: 0.2rem;
    }
    .f-info-socials a{
        color: black;
    }
</style>


<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"> <i class="fa-brands fa-square-facebook footer-icon"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram footer-icon"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin footer-icon"></i></a>
           
        </div>
        <div>&copy; JSPM's Rajarshi Shahu College Of Engineering, Tathawade.</div>
        <div>
            <p>Made with &#10084; by Sachin Durgude</p>
        </div>
    </div>
</footer>